doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/navbarandlogout.css')
.navbar
  nav
    a(href='#home') Home
    a(href='#about') About
    a(href='#services') Services
    a(href='#contact') Contact
    a(href='/logout' class='button') Logout
body 
block content  
footer 
    p &copy; 2024 Daystar Daycare Facility